  #loader1
		{
			width: 100%;
			text-align: center;
			padding-top: 250px;
			padding-bottom: 250px;
			display: none;
		}
		
		#cdt
		{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
		#cdt th
		{
			background-color: #e0e0e0;
			font-weight: bold;
			padding-bottom: 5px;
			padding-top: 5px;
			border: #cccccc 1px solid;
			background-image: url(../lib/datatables/images/sort_both.gif);
			background-repeat: no-repeat;
			background-position: right center;
			cursor: pointer;
		}
		
		#cdt th:first-child
		{
			background-image: none !important;
			cursor: default !important;
			width: 50px;
		}
		
		#cdt th:nth-child(2)
		{
			background-image: url(../lib/datatables/images/sort_desc.gif);
			width: 50px;
		}
		
		#cdt th:nth-child(3)
		{
			width: 125px;
		}
		
  #cdt th:nth-child(5)
		{
			width: 235px;
		}
  
  #cdt th:nth-child(6)
		{
			width: 235px;
		}
  
		#cdt td:nth-child(1)
		{
			text-align: center;
		}
		
		#cdt td:nth-child(2)
		{
			text-align: center;
		}
		
		#cdt td:nth-child(3)
		{
			cursor: pointer;
		}
		
		#cdt td
		{
			padding-bottom: 5px;
			padding-top: 5px;
			padding-left: 5px;
			padding-right: 5px;
			border: #cccccc 1px solid;
		}
		
		#cdt tbody tr:nth-child(even)
		{
			background-color: #f5f5f5;
		}
		
		#cdt tbody tr:hover
		{
			background-color: #e0e0e0;
		}
		
		div.pages
		{
			float: left;
			clear: both;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
		#pagination
		{
			margin-left: 50px;
			text-align: left;
			float: left;
		}
		
		#totalpages
		{
			float: left;
			margin-left: 30px;
			padding-top: 1px;
		}
		
		div.pages a.page
		{
			border: solid 1px #dcdcdc;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 2px;
			padding-bottom: 2px;
			margin-left: 5px;
			font-size: 12px;
			text-decoration: none;
			color: black;
		}
		
		#pagination p
		{
			display: inline;
		}
		
		div.pages a.page:hover
		{
			background-color: #e6e6e6;
		}
		
		div.pages p.page
		{
			border: solid 1px #dcdcdc;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 2px;
			padding-bottom: 2px;
			margin-left: 5px;
			font-size: 12px;
			background-color: #e6e6e6;
		}
		
		div.pages a.next, div.pages a.previous, div.pages a.first, div.pages a.last
		{
			border: solid 1px #dcdcdc;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 2px;
			padding-bottom: 2px;
			margin-left: 5px;
			font-size: 12px;
			text-decoration: none;
			color: black;
		}
		
		div.pages p.next, div.pages p.previous, div.pages p.first, div.pages p.last
		{
			border: solid 1px #dcdcdc;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 2px;
			padding-bottom: 2px;
			margin-left: 5px;
			font-size: 12px;
			color: #dcdcdc;
		}
									
		#ifchangepassword
		{
			display: none;
		}
		
		#changepassword
		{
			padding-top: 30px;
			padding-bottom: 30px;
		}
		
		#generatepassword
		{
			display: block;
			padding-top: 30px;
		}
		
		div.editsavemenu
		{
			background-color: #058dc7;
			margin-top: 20px;
			margin-bottom: 25px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
		div.ttipform
		{
			float:left;
			margin-left: 15px;
			margin-top: 25px;
		}
		
		div.opheader
		{
			float: left;
			margin-left: 20px;
		}
		
		div.opheader h5
		{
			color: white;
		}
		
		div.opstatus
		{
			float: left;
			color: yellow;
			margin-left: 20px;
			margin-top: 4px;
		}
		
													div.newimage
											{
												float:left;
												clear: both;
												margin-top: 5px;
												background-color: #dcdad5;
												border: 2px #dcdad5 outset;
												padding: 1px;
											}
											
											div.newimage a
											{
												color: black;
											}
											
											div.newimage a:hover
											{
												text-decoration: none;
											}
											
											div.newimage span
											{
												display: none;
											}
											
											div.imagestargets
											{
												float:left;
											}
											
											div.imagestargets #target1
											{
												float: left;
												clear: both;
												width: 604px;
											}
											
											div.imagestargets #target1 img
											{
												max-width: 604px;
											}
											
											div.imagestargets #target2
											{
												float: left;
												margin-top: 10px;
												clear: both;
												width: 604px;
											}
											
											div.imagestargets #target2 img
											{
												display: block;
												margin-left: auto;
												margin-right: auto;
											}
											
											div.imagestargets #target3
											{
												float: left;
												margin-top: 10px;
												clear: both;
												width: 604px;
											}
											
											div.imagestargets #target3 img
											{
												display: block;
												margin-left: auto;
												margin-right: auto;
											}
											
											td.useract
											{
												background-color: lightgreen;
											}
											
											td.usernoact
											{
												background-color: lightgrey;
											}