<script type="text/template" id="profileshema">
   <div class="row collapse">
    <div style="border: solid 1px #cdcdcd;">
     <div class="row">
      <div class="profilemenu" style="float: left; min-width: 274px; max-width: 300px; width: 28.57143%;">
       <ul>
        <li class="actprofile"><a onclick="return link('/user/profile');" href="/#!user/profile">Профиль</a></li>
        <li class="actpassword"><a onclick="return link('/user/password');" href="/#!user/password">Пароль</a></li>
        <li class="actavatar"><a onclick="return link('/user/avatar');" href="/#!user/avatar">Аватар</a></li>
       </ul>
      </div>
      <div class="profilecontent" style="float: left; min-width: 685px; max-width: 750px; background-color: white; width: 71.42857%;">
       
      </div>
     </div>
    </div>
   </div>
  </script>