  <script type="text/template" id="twocolumnshema">
   <div class="toppos row">
        
    </div>
    <div class="menupos row">

    </div>
    <div class="middlepos row">
        <div class="large-12 large-centered columns">
            <div class="row">
                <div style="min-width: 658px; max-width: 720px; float: left;" class="column24"></div>
                <div style="min-width: 27px; max-width: 30px; float: left;" class="column1">&nbsp;</div>
                <div style="min-width: 274px; max-width: 300px; float: left;" class="column10">
                </div>
            </div>
        </div>
    </div>
    <div class="footerpos row">
        <div class="large-12">
        </div>
    </div>
  </script>