<script type="text/template" id="register">
   <form class="registerform" style="width: 390px; float: left;">
    <fieldset>
     <legend>Регистрация</legend>
     <div class="row collapse prefix-radius username">
      <div class="small-5 medium-5 large-5 columns">
      <label data-tooltip class="prefix has-tip">Логин</label>
      </div>
      <div class="small-7 medium-7 large-7 columns">
       <input type="text">
      </div>
     </div>
     <div class="row collapse validate usernameerror">
      <div></div>
     </div>
     <div class="row collapse prefix-radius fullname">
      <div class="small-5 medium-5 large-5 columns">
      <label data-tooltip class="prefix has-tip">Полное Имя</label>
      </div>
      <div class="small-7 medium-7 large-7 columns">
       <input type="text">
      </div>
     </div>
     <div class="row collapse validate fullnameerror">
      <div></div>
     </div>
     <div class="row collapse prefix-radius email">
      <div class="small-5 medium-5 large-5 columns">
      <label data-tooltip class="prefix has-tip">E-mail</label>
      </div>
      <div class="small-7 medium-7 large-7 columns">
       <input type="text">
      </div>
     </div>
     <div class="row collapse validate emailerror">
      <div></div>
     </div>
     <div class="row collapse prefix-radius password">
      <div class="small-5 medium-5 large-5  columns">
       <label data-tooltip class="prefix has-tip">Пароль</label>
      </div>
      <div class="small-7 medium-7 large-7 columns">
       <input type="password">
      </div>
     </div>
     <div class="row collapse validate passworderror">
      <div></div>
     </div>
     <div class="row collapse prefix-radius confirmpassword">
      <div class="small-5 medium-5 large-5  columns">
       <label data-tooltip class="prefix has-tip">Пароль Повторить</label>
      </div>
      <div class="small-7 medium-7 large-7 columns">
       <input type="password">
      </div>
     </div>
     <div class="row">
      <a style="float: right; margin-right: 30px;" class="more">Закончить регистрацию</a>
     </div>
    </fieldset>
   </form>
  </script>